* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: beige;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

.cm-gap {
  padding: 100px 0;
}

/* navbar start */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 110px;
}

.list-link {
  display: flex;
}

.list-link li {
  list-style: none;
  margin-left: 15px;
}

.list-link li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.cm-btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: aquamarine;
  padding: 20px 40px;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  border: 1px solid;
}

/* navbar end */

/* Hero section start */
.banner {
  background: url("./image/hero.jpg") no-repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

h1,
.heading-1 {
  font-size: 50px;
  color: #3104f8;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #0c0c0c;
  line-height: 1.2;
  margin-bottom: 10px;
}

.banner-btn {
  background-color: #3104f8;
  color: #fff;
}
/* Hero section end */

/* About section start */

.child-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
}

.left,
.right {
  width: 50%;
  padding: 0 15px;
}

/* About section end */

/* card section start */

.card-upper h2 {
  font-size: 35px;
}

.card-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}

.cmn-card {
  width: calc(33.33% - 15px);
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px #aa9d9d;
  position: relative;
}

.cmn-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(221, 220, 141)
  );
}

.card-img figure img {
  border-radius: 10px;
  height: 300px;
}

.card-upper,
.card-lower {
  text-align: center;
}

.card-btn {
  border: 1px soild;
}

/* card section end */
