* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

/* -------------------------------------------- */

/* Navbar start */
.logo {
  display: inline-block;
  width: 110px;
}

.logo img {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
}

.btn {
  display: inline-block;
  background-color: red;
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.btn:hover {
  background-color: blue;
}

/* Navbar end */
