* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-size: 20px;
}

li {
  list-style: none;
}

.cmn-gap {
  padding: 50px 0;
}

/* Navbar start */
.header {
  border: 1px solid;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo,
img {
  width: 100px;
  display: block;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.btn {
  background-color: aqua;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid;
}

.btn:hover {
  background-color: aquamarine;
}
/* Navbar end */

/* card section start */

.card-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.cmn-card {
  width: calc(33.33% - 20px);
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

.card-img,
figure,
img {
  border-radius: 5px;
}

.card-text {
  margin: 10px 0;
}

.card-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-btn {
  width: calc(50% - 10px);
  text-align: center;
}

.card-lower,
.card-upper {
  text-align: center;
}

/* card section end */
