* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

p {
  font-size: medium;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 18px;
}

input:focus {
  border: 1px solid #1877f2;
  outline: none;
}

a {
  display: block;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

hr {
  margin: 25px 0;
}

/* facebook login page */

.child-facebook-login {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inner {
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 70px;
  color: #1877f2;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

a.login {
  background-color: #1877f2;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
}

p.frgt {
  text-align: center;
  color: #1877f2;
  cursor: pointer;
}

a.new-id {
  background-color: #00a400;
  padding: 15px 25px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

strong {
  cursor: pointer;
}

strong:hover {
  text-decoration: underline;
}

input::placeholder {
  font-size: 16px;
}
