* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

.com-gap {
  padding: 100px 0;
}
p {
  font-size: medium;
  margin-bottom: 10px;
}

/* Navbar start */

.logo img {
  max-width: 110px;
  display: block;
}

.logo {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.link-list {
  display: flex;
  gap: 15px;
}

.link-list li {
  list-style: none;
}

.link-list li a {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  background-color: aqua;
  padding: 20px 40px;
  border-radius: 10px;
  color: #000;
}

.btn:hover {
  background-color: blueviolet;
  color: #fff;
}
/* Navbar end */

/* Hero section start */

.banner {
  background: linear-gradient(rgba(225, 0, 0, 0.4), rgba(170, 209, 96, 0.5)),
    url("./image/hero.jpg") no-repeat;
  height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.heading-1 {
  margin-bottom: 35px;
  font-size: 50px;
  color: blue;
}

.hero-btn {
  background-color: bisque;
}
/* Hero section end */

/* About section start */

.about-child {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.left,
.right {
  width: 50%;
  padding: 0 15px;
}

.right {
  display: flex;
  align-items: center;
}

h2,
.heading-2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}

/* About section end */
