* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

/* Navbar start */

.logo img {
  max-width: 110px;
  display: block;
}

.logo {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

.link-list {
  display: flex;
  gap: 15px;
}

.link-list li {
  list-style: none;
}

.link-list li a {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
}

.btn {
  display: block;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  background-color: aqua;
  padding: 20px 40px;
  border-radius: 10px;
  color: #000;
}

.btn:hover {
  background-color: blueviolet;
  color: #fff;
}
/* Navbar end */

.parvez {
  display: block;
  background-color: red;
}
